<header>
    <h1>ProductWebPortal Home Index Page.</h1>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
    <script src="Scripts\jquery-1.8.2.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("http://localhost/ProductSysWebAPI/Product/1", 
        });
    </script>
</header>
<div id="body">
    <section class="featured"></section>
</div>
