@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorized</title>
</head>
<body>
    <div>
        您无权访问该页面，请联系管理员添加权限数据！
    </div>
</body>
</html>
