@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>产品列表页面</title>
</head>
<body>
    <div>
        这里是产品列表数据。。。
    </div>
</body>
</html>
