@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Price</title>
</head>
<body>
    <div>
        产品价格页面，具有高级权限的人才可以访问。
    </div>
</body>
</html>
